body { background-image: none src= file:///C:/Users/Alumno07/Desktop/mine/nutria;
}
h1{
    color: rgb(224, 21, 224);
}
h2{
    color: rgb(10, 10, 124);
}
p1{
    color: rgb(115, 107, 165);
}
h3{
    color: rgb(9, 9, 114);
}
p2{
    color: rgb(73, 73, 219);
}
h4{
    color: rgb(22, 22, 128);
}
p3{
    color: rgb(141, 93, 187);
}